h1 {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin: 5%;
 padding: 2%;

}

.about-body {
  color: pink;
    
}

p {
  margin: 1rem;
  background-color: black;
}

.img-about-me {
  border-radius: 10rem;
  width: 25rem;
  margin-left: 50rem;
}

.img-qrcode {
  width: 15rem;
}

