.about-body {
  color: pink;
  align-items: left;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  margin: 1rem;
  background-color: black;
}

.img-about-me {
  border-radius: 10rem;
  width: 25rem;
  margin-left: 50rem;
}

.img-qrcode {
  width: 15rem;
}

