h1 {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: pink;
}

p {

  color: pink;
}
.about-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul{
  display: inline-block;
  vertical-align: middle;
}



.img-about-me {
  width: 20rem;

}

.img-qrcode {
  width: 10rem;
}

.contact{
  color: whitesmoke;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  border: 1px solid black; 
  width: 50%; 
}
