/* .main-footer{
    color: black;
   
    display: flex;
    justify-content: space-between;
    height: 60px;
    
    padding: 20px;
   
  } */
 .container{
  color: pink;
  place-items: left; 
  place-items: fix;
 }