.header,
.video {
  height: 100vh;
}

.h1 {
  margin: 0%;
  padding-top: 16%;
  padding-inline-start: 40%;
  color: pink;

}

.h2 {
  padding-inline-start: 37%;
  font-style: italic;
  color: pink;
  font-size: 10px;
}
