.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: black;    
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-box{
  padding: 2rem;
  height: 100%;
  width: 100%;
  background-color: black;
  border-style: double;
  border-color: pink;
  border-width: 1rem;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.8)
 }

 .card-box:hover {
  background-color: rgb(58, 56, 56);
}

.card-body{
color:pink;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
font-size: 15px;

}

.bttn-portfolio{
transition: background-color 0.4s;
margin-left: 5%;
margin-bottom: 5%;
}

.bttn-portfolio:hover {
  background-color: whitesmoke;
}

.a-portfolio{
  color: pink;
}

@media (max-width: 3500px){

  .grid{
   padding: 9%;
  }
  
  }
