.navbar {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-stretch: extra-expanded;
  background-color:rgba(255, 192, 203, 0.685);
  text-shadow: 0 5px 10px rgb(239, 239, 241);
  display: flex;
  color: black;
}

@media (min-width: 200px) {
  .footer-container {
    width: 150%;
    height: 10%;
  }
}
